<script>
    function vote(id) {
        let passportNumberReg = /^([0-9]{7})?$/;
        let numberPass = prompt("Введите номер паспорта:");
        if (numberPass == null || numberPass == "" || !passportNumberReg.test(numberPass)) {
            alert("Неправильно введены данные.");
        } else {
            $.ajax({
                url: '/elections/vote',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify({"candidateId":id,"passportNumber":numberPass}),
                type: 'PUT',
                success: function(result) {
                    location.reload ()
                },
                error:function (error){
                    console.log(error)
                }
            });
        }
    }
</script>
<table>
    <thead>
    <th>Фотография</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Процент голосов</th>
    <th>Действие</th>
    </thead>
    {{#if candidates.length}}
    <tbody>
        {{#each candidates}}
        <tr>
            <td>
                <img src={{photo}} style="width: 200px;height: 200px">
            </td>
            <td>
                {{lastName}}
            </td>
            <td>
                {{firstName}}
            </td>
            <td>
                {{percent}}
            </td>
            <td>
                <button class="btn" onclick= vote('{{_id}}') >Проголосовать</button>
            </td>
        </tr>
        {{/each}}
        </tbody>
        {{else}}
            <p>Нет данных!</p>
        {{/if}}
    </table>
